* {
    padding: 5px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

#mainTeam li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#mainTeam li h2 {
    grid-column: 1 / span 2;
}

.blackBorder {
    border: 1px black solid;
}

.mainNav {
    display: flex;
    justify-content: space-evenly;
}

.active {
    /* scale: 102%; */
    border: 3px black solid;
}

.hidden {
    display: none;
}