* {
    padding: 5px;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}


#searchBox {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: smaller;
}

.card {
    border: 1px solid black;
    text-align: center;
    box-shadow: 3px 5px gray;
    background-color: #add8e6
}

.active {
    background-color: lightblue;
}

.single {
    text-align: center;
}

.backButton {
    margin: auto;
}

@media (min-width: 38em) {

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}